<%= $game.player_1.name %> attacked <%= $game.player_2.name %><br>
<%= $game.player_2.name %> has <%= $game.player_2.hit_points %> HP

<form action="/play">
  <input type="submit" value="Play Again!">
</form>